footer.site-footer#support
  .container
    .row
      .item
        .links
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!

      .item
        .links
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!

      .item
        .links
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique sed laboriosam voluptates quas sapiente exercitationem mollitia ad dolor id, itaque quisquam. Reiciendis, et perferendis. Omnis deserunt reprehenderit consequatur eius vero!
