footer.site-footer#support
  .container
    .row
      .item
        p= "Made by Hasan Al-Kaf & Ahmed for"
        img(
          src="./images/linuxlogowhite.png",
          alt="Linux Logo"
        )

      .item
        p &copy; All Rights Reserved by LinuxLovers :)
