include pugjs/abstracts/variables
include pugjs/abstracts/mixins

doctype html
html(lang="en")
  head
    include pugjs/head/main-meta
    include pugjs/head/seo
    include pugjs/head/links

  body
    .page-container
      include pugjs/body/header-section

      main
        include pugjs/body/main/banner-section
        include pugjs/body/main/features-section
        include pugjs/body/main/news-section
        include pugjs/body/main/download-section

      include pugjs/body/footer-section

      +toTopBtn
    include pugjs/body/scripts
