-
  const theTitle = "Linux Project"
  const siteDescription = `A website that shows linux and it's distros...`
  const siteUrl = "https://ahmedsawx.github.io/LinuxWebsite"
  const siteLogo720 = "/images/studiotag.png"
  const siteLogo32 = "/images/cropped-favicon.png"
  const siteMention = "@hasan_alkaf3"
  const myUsername = "@hasan_alkaf3"
