.site-content-banner {
  margin-top: 0;
  z-index: 0;
  overflow: hidden;
  @include breakpoints(extra-large) {
    min-height: 925px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #2a3248;
    background-image: url("../images/header-bg-optimized.svg");
    background-position: left top;
    background-size: 1920px auto;
    background-attachment: fixed;
    max-height: 1080px;
    background-repeat: no-repeat;
  }

  > .container {
    position: relative;
    min-height: 925px;

    .row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;

      .banner-content {
        position: static;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        @include breakpoints(large) {
          flex: 0 0 50%;
          max-width: 50%;
        }

        .banner-text {
          font-size: 30px;
          font-weight: 300;
          color: $base;
          text-align: center;
          margin-top: 40px;
          margin-bottom: 40px;
          @include breakpoints(large) {
            text-align: left;
            font-size: 40px;
          }
          @include breakpoints(extra-large) {
            padding-right: 60px;
            font-size: 47px;
            margin-top: 100px;
          }

          strong {
            font-weight: 300;
            color: $secondary;
          }
        }

        .ubuntu-desc {
          color: $main-links;
          text-align: center;
          font-weight: 300;
          margin-bottom: 40px;
          @include breakpoints(large) {
            font-size: 18px;
            margin: 0;
            line-height: 39px;
            position: absolute;
            left: 30px;
            width: calc(50% - 160px);
            text-align: left;
          }
        }

        .banner-image {
          z-index: 9;
          margin: {
            right: auto;
            bottom: 40px;
            left: auto;
          }
          width: 60%;
          @include breakpoints(large) {
            position: absolute;
            left: 60%;
            top: 5%;
          }

          .illustration {
            position: relative;

            .illustration-base {
              position: absolute;
              top: 0;
              left: 0;
              animation: float 6s ease-in-out infinite;
              filter: drop-shadow(0px 0px 50px #444);

              img {
                max-width: 300px;
                height: auto;
                @include breakpoints(medium) {
                  max-width: 400px;
                }
                @include breakpoints(extra-large) {
                  max-width: 600px;
                }
              }
            }
          }
        }

        .action-banner {
          z-index: 10;
          color: #9ab8f1;
          background: #314f6f;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
            inset 0px 1px 0px rgba(255, 255, 255, 0.3);
          border-radius: 10px;
          padding: 60px 30px 30px 30px;
          position: relative;
          font-weight: 300;
          animation-duration: 0.6s;
          margin-bottom: 9px;
          @include breakpoints(medium) {
            padding: 50px 30px 15px 30px;
          }
          @include breakpoints(large) {
            max-width: 565px;
          }
          @include breakpoints(extra-large) {
            margin-top: 120px;
          }

          .text-muted {
            color: #93d6ff !important;
          }

          .action-img {
            position: absolute;
            top: 50%;
            left: -100px;
            width: 80px;
            transform: translateY(-50%);
            @include breakpoints(medium) {
              top: 10px;
              left: 0;
              transform: none;
            }
          }

          .btn {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-weight: 300;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
            @include breakpoints(medium) {
              width: calc(50% - 7.5px);
            }

            &:last-child {
              margin-bottom: 0;
              @include breakpoints(medium) {
                margin-bottom: 1rem;
              }
            }
          }

          .action-label {
            position: absolute;
            top: 0;
            right: 50%;
            transform: translateX(50%);
            font-size: 15px;
            color: #85a6d8;
            background: #3c6a8d;
            padding: 5px 20px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
              inset 0px 1px 0px rgba(255, 255, 255, 0.24);
            border-radius: 0px 0px 9px 9px;
            width: 60%;
            text-align: center;
            @include breakpoints(small) {
              right: 45px;
              transform: none;
              width: auto;
            }
          }

          .action-ver-content {
            margin-bottom: 1.5rem;
            padding-bottom: 1.5rem;
            position: relative;
            border-bottom: solid 1px rgba(255, 255, 255, 0.15);
            @include breakpoints(medium) {
              padding-left: 100px;
              padding-bottom: 0.75rem;
            }

            &:last-child {
              margin-bottom: 0;
              padding-bottom: 0;
              border-bottom: none;
            }

            .action-ver-title {
              font-size: 18px;
              font-weight: normal;
              color: #ffffff;
              margin-bottom: 1rem;
            }

            .action-desc {
              font-size: 16px;
              color: #a3c7ff;
            }

            .btn-action-wrapper {
              text-align: center;
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              position: relative;
              margin-left: 100px;
              @include breakpoints(medium) {
                position: static;
                margin-left: 0;
              }
            }
          }
        }

        .banner-text,
        .action-banner {
          animation-delay: 0.5s;
          animation-name: box-slide-up;
          animation-duration: 0.5s;
          animation-fill-mode: both;
          animation-timing-function: ease 0s;
        }
      }
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-image: url("../images/bg-white.svg");
    background-repeat: no-repeat;
    background-size: 2300px auto;
    background-position: center top;
  }
}
