.site-content-banner#home
  .container
    .row
      .banner-content
        .banner-text Slogan: <strong>Linux - Freedom of Choice</strong> ...and It's Free!

        p.ubuntu-desc Linux is a family of open-source Unix-like operating systems based on the Linux kernel.

        .banner-image
          .illustration
            .illustration-base
              img(
                src="./images/Tux.svg.png"
              )
