.moving-up-down {
  animation: up-down 1s ease-in-out infinite alternate;
}

.showTopBtn {
  animation: fade-in 0.5s ease-in-out forwards,
    up-down 1s ease-in-out infinite alternate;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $overlay-color;
  z-index: $shows-overall;
}
